{% extends 'base.html' %} {% block title %}View All{% endblock %} {% block content %}
<h1>View Posts</h1>
<a href="{{ url_for('add') }}" style="color: #fff">Add</a>
{% if posts %}
<div class="container">
  {% for post in posts %}
  <div class="card">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <small>Posted on (local): {{ post.timestamp|localtime }}</small><br>
    <small>Posted on (raw from DB): {{ post.timestamp }}</small>
    <a href="{{ url_for('view', id=post.id) }}">View</a>
    <a href="{{ url_for('edit', id=post.id) }}">Edit</a>
    <form action="{{ url_for('delete', id=post.id) }}" method="post">
      <button type="submit">Delete</button>
    </form>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No post</p>
{% endif %} {% endblock %}
