{% extends 'base.html' %} {% block title %}View All Posts{% endblock %} {% block content %}
<h1>View All Posts</h1>
<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>Content</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    {% if posts %} {% for post in posts %}
    <tr>
      <td>{{ post.title }}</td>
      <td>{{ post.content }}</td>
      <td><a href="{{ url_for('view', id=post.id) }}">View</a></td>
      <td><a href="{{ url_for('edit', id=post.id) }}">Edit</a></td>
      <td>
        <form action="{{ url_for('delete', id=post.id) }}" method="post">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %} {% endif %}
  </tbody>
</table>
{% endblock %}
